<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.root.myapplication">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Register"
            android:parentActivityName=".view.LoginScreen" />
        <activity
            android:name=".view.LoginScreen"
            android:label="@string/app_name" />
        <activity
            android:name=".view.TalkActivity"
            android:label="Chat"
            android:parentActivityName=".view.InitialScreen" />
        <activity
            android:name=".view.InitialScreen"
            android:label="@string/title_activity_initial_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.PairedDevice"
            android:label="@string/paired_devices"
            android:parentActivityName=".view.InitialScreen" />
        <activity android:name=".view.DiscoverDevices" android:parentActivityName=".view.InitialScreen" android:label="@string/find"></activity>
    </application>

</manifest>